@charset "utf-8";

$screen-lg:      1200 !default;
$screen:            960 !default;
$screen-md-max:     ($screen - 1) !default;
$screen-md-min:     600 !default;
$screen-sm-max:     ($screen-md-min - 1) !default;
$screen-sm-min:     320 !default;

$sp:          max-width ($screen-sm-max / 16) + em;
$tab:         max-width ($screen-md-max / 16) + em;
$pc:          min-width ($screen / 16) + em;
$pc-wide:     min-width ($screen-lg / 16) + em;

// @ MEDIA PROPERTY
// ------------------------------------------------------------

@mixin media-property ($property-name:top, $size: 0, $size-md: false, $size-sm: false) {
  @if $size != false {
    #{$property-name}: $size;
  }
  @if $size-md != false {
    @include media($tab) {
      #{$property-name}: $size-md;
    }
  }
  @if $size-sm != false {
    @include media($sp) {
      #{$property-name}: $size-sm;
    }
  }
}
