#blog-title-content{
	padding:220px 0 0;
	background: url('http://hatenablog.nakedleafdesign.com/blog01/assets/img/common/main-visual_bg.png') no-repeat !important;
	#title,
	#blog-description{
		display: none;
	}
}